# Database
db/*.db
db/*.sqlite

# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
.env
*.egg-info/
dist/
build/

# Coverage reports
.coverage
.coverage.*
htmlcov/

# uv
.python-version

# IDE
.vscode/
.idea/

# Windows Links
*.lnk

# TODO
TODO.md